$Arial: Arial, sans-serif
$Georgia: Georgia, serif

$color_white: white
$color_primary: #F1CDB3
$color_dark_s: #CDCDCD
$color_light_xl: #FFFFFF
$color_dark_3xl: #292929
$color_dark_x: #545454
$color-dark-xl: #4C4C4C
$color-light-l: #F6F6F6


ul, ol 
    list-style: none
 
 
h1,h2,h3,h4,h5,h6 
    padding: 0
    margin: 0


.wrapper
    color: white
    font-family: $Arial
    width: 1200px
    margin: 0 auto

.start_screen
    background: url('/assets/images/noise_transparent@2x.png'),
    linear-gradient(120deg,#5B483A 10%, #211F20 60%)
    padding-top: 60px
    .header
        height: 60px
        display: flex
        justify-content: space-between
        .logo
            display: flex
            flex-direction: column
            justify-content: space-between
            h1
                font-family: $Georgia
                color: $color_primary
                font-size: 32px
                letter-spacing: 0.06em
                font-weight: 400
            span
                font-size: 13px
                letter-spacing: 0.1em
                font-weight: 400
        .navbar
            &-list
                display: flex
                font-size: 15px
                line-height: 24px
                li
                    margin-left: 35px
                    color: $color_dark_s
                    &:hover
                        cursor: pointer
                        color: $color_white
                .active
                    position: relative
                    color: $color_white
                    padding-bottom: 4px
                    &::after
                        content: ''
                        position: absolute
                        width: 100%
                        bottom: 0
                        left: 0
                        height: 3px
                        background-color: $color_primary
    &_content
        display: flex
        justify-content: space-between
        margin-top: 60px
        user-select: none
        &_text
            max-width: 38%
            margin-top: 163px
            h2
                font-family: $Georgia
                font-weight: 400
                font-size: 44px
                line-height: 1.3
                max-width: 80%
            p
                margin-top: 42px
                color: $color_dark_s
                font-size: 15px
                line-height: 24px
            button
                margin-top: 42px
                border: none
                border-radius: 100px
                padding: 15px 45px
                font-size: 17px
                font-family: $Georgia
                color: $color_dark_3xl
                background-color: $color_primary
                transition: .2s
                &:hover
                    cursor: pointer
                    box-shadow: 0px 0px 20px grey
.about
    &_content
        margin-top: 80px
        display: flex
        width: 70%
        margin: 80px auto 100px auto
        justify-content: space-between
        color: $color_dark_x
        &_text
            align-self: center
            max-width: 45%
            font-family: $Arial
            font-size: 15px
            line-height: 1.6
            color: $color-dark-xl
            text-align: justify
            h3
                font-size: 35px
                line-height: 1.3
                font-family: $Georgia
                font-weight: 400
                letter-spacing: .06em