$Arial: Arial, sans-serif
$Georgia: Georgia, serif

$color_white: white
$color_primary: #F1CDB3
$color_dark_s: #CDCDCD
$color_light_xl: #FFFFFF
$color_dark_3xl: #292929
$color_dark_l: #545454
$color-dark-xl: #4C4C4C
$color-light-l: #F6F6F6
$color-light-s: #FAFAFA
$color-orange: #F1CDB3

ul, ol 
    list-style: none
 
 
h1,h2,h3,h4,h5,h6 
    padding: 0
    margin: 0


.wrapper
    color: white
    font-family: $Arial
    width: 1200px
    margin: 0 auto

.start_screen
    background: url('/assets/images/noise_transparent@2x.png'),
    linear-gradient(120deg,#5B483A 10%, #211F20 60%)
    padding-top: 60px
    .header
        height: 60px
        display: flex
        justify-content: space-between
        .logo
            display: flex
            flex-direction: column
            justify-content: space-between
            h1
                font-family: $Georgia
                color: $color_primary
                font-size: 32px
                letter-spacing: 0.06em
                font-weight: 400
            span
                font-size: 13px
                letter-spacing: 0.1em
                font-weight: 400
        .navbar
            &-list
                display: flex
                font-size: 15px
                line-height: 24px
                li
                    margin-left: 35px
                    color: $color_dark_s
                    &:hover
                        cursor: pointer
                        color: $color_white
                .active
                    position: relative
                    color: $color_white
                    padding-bottom: 4px
                    &::after
                        content: ''
                        position: absolute
                        width: 100%
                        bottom: 0
                        left: 0
                        height: 3px
                        background-color: $color_primary
    &_content
        display: flex
        justify-content: space-between
        margin-top: 60px
        user-select: none
        &_text
            max-width: 38%
            margin-top: 163px
            h2
                font-family: $Georgia
                font-weight: 400
                font-size: 44px
                line-height: 1.3
                max-width: 80%
            p
                margin-top: 42px
                color: $color_dark_s
                font-size: 15px
                line-height: 24px
            button
                margin-top: 42px
                border: none
                border-radius: 100px
                padding: 15px 45px
                font-size: 17px
                font-family: $Georgia
                color: $color_dark_3xl
                background-color: $color_primary
                transition: .2s
                &:hover
                    cursor: pointer
                    box-shadow: 0px 0px 20px grey
.about
    &_content
        margin-top: 80px
        display: flex
        width: 70%
        margin: 80px auto 100px auto
        justify-content: space-between
        color: $color_dark_l
        &_text
            align-self: center
            max-width: 45%
            font-family: $Arial
            font-size: 15px
            line-height: 1.6
            color: $color-dark-xl
            text-align: justify
            h3
                font-size: 35px
                line-height: 1.3
                font-family: $Georgia
                font-weight: 400
                letter-spacing: .06em
.our_friends
    background-color: $color-light-l
    .wrapper    
        color: $color-dark-l
        display: flex
        flex-direction: column
        align-items: center
        h3
            width: 50%
            text-align: center
            font-size: 35px
            font-weight: 400
            line-height: 45.5px
            font-family: $Georgia
            margin: 0 auto
            padding-top: 80px
            padding-bottom: 60px
            letter-spacing: .06em
        .our_friends_slider            
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            &_card
                width: 270px
                height: 435px
                background-color: $color-light-s
                display: flex
                flex-direction: column
                align-items: center
                transition: .2s
                &:hover
                    transform: scale(1.02)
                img
                    margin-bottom: 30px
                .animal_name
                    margin-bottom: 30px
                    font-family: $Georgia
                    font-size: 20px
                    letter-spacing: .06em
                    line-height: 1.13        
                button
                    color: $color-dark-3xl
                    padding: 15px 45px
                    border-radius: 100px
                    border: 2px solid $color-orange
                    background-color: transparent
                    transition: .2s
                    &:hover
                        cursor: pointer
                        background-color: $color-orange
                        box-shadow: 0px 0px 20px -5px $color-dark-l
            &_btn
                border: 2px solid $color-orange
                border-radius: 50%
                width: 52px
                height: 52px
                background-color: transparent
                transition: .1s
                display: flex
                justify-content: center
                align-items: center
                &:hover
                    cursor: pointer
                    background-color: $color-orange
        .our_friends_get
            margin: 60px 0 100px 0
            padding: 15px 45px
            border-radius: 100px
            border: 2px solid $color-orange
            background-color: $color-orange
            font-size: 17px
            font-family: $Georgia
            line-height: 1.3
            letter-spacing: .06em
            color: $color-dark-3xl
            transition: .2s
            &:hover
                cursor: pointer
                background-color: $color-light-l
                border: 2px solid $color-orange